.header {
  box-sizing: border-box;
  height: 100%;
  background-image: url(../images/Cookie-BG.png);
  background-size: 584px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: $topPadding;
  margin-bottom: 290px;

  @include onDesctop {
    background-size: 545px;
    background-position: 50% 20%;
    margin-bottom: 313px;
  }

  @include onLaptop {
    background-size: 328px;
    background-position: 50% 50%;
    padding-top: $topPaddingLaptop;
    margin-bottom: 228px;
  }

  @include onMobile {
    background-size: 290px;
    background-position: 50% 80%;
    margin-bottom: 50px;
  }

  @include onSmMobile {
    background-size: 300px;
    background-position: 50% 65%;
  }

  &__tagline {
    width: 280px;
    line-height: 24px;
    letter-spacing: -0.01em;
    margin-bottom: 40px;

    @include onDesctop {
      width: 260px;
      margin-bottom: 8px;
    }

    @include onLaptop {
      width: 280px;
      margin-bottom: 146px;
    }

    @include onMobile {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
    }
  }

  &__title {
    font-size: 144px;
    line-height: 122px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 64px;

    @include onDesctop {
      font-size: 144px;
      line-height: 116px;
    }

    @include onLaptop {
      font-size: 80px;
      line-height: 68px;
      margin-bottom: 210px;
    }

    @include onMobile {
      font-size: 64px;
      line-height: 60px;
      margin-bottom: 290px;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 56px;
    text-decoration: none;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $orange;
    border: 2px solid $orange;
    border-radius: 32px;
    transition: all $duration;

    @include onLaptop {
      align-self: center;
      width: 326px;
    }

    @include onMobile {
      width: 288px;
    }

    &::before {
      content: url(../images/Cookie.svg);
      margin-right: 6px;
    }

    &:hover {
      background-color: $orange;
      color: $white;

      &:before {
        transition: all $duration;
        content: url(../images/cookies-white.svg);
      }
    }

    &:active {
      background-color: $dark-orange;
      color: $white;
    }

    &:focus-visible {
      background-color: $dark-orange;
      color: $white;
    }
  }
}
