.menu {
  box-sizing: border-box;
  height: 100%;
  padding-top: $topPadding;
  background-color: rgba(238, 247, 255, 1);

  @include onLaptop {
    padding-top: $topPaddingLaptop;
  }

  &__cross {
    background-image: url(../images/cross.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
